body {
    font-family: 'Poppins', sans-serif;
    background-color: #dba2ec;
    margin: 5%;
    padding: 0;
    color: #251523;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFC0CB;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo {
    width: 13%;
    display: inline;
    margin: 0;
}
h1 {
    color: #53405e;
}

h2 {
    color: #7a15b9;
     
}

div {
    color: #333;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    margin: 5px; 
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s ease;
}

div:hover {
    transform: translateY(-5px); /* Slide up 5 pixels on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */
}


.nav {   
     
    display: inline;
    margin-left: 65%;

}
button {
    display: inline-block;
    padding: 5px;
    margin-left: 45%;
    left: 20%; 
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.1);
}

.nav li {
    display: inline-block;
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

.nav a {
    text-decoration: none;
    color: white;
}


.social-icons {
    margin-top: 20px;
}

.icon {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #A020F0;
}

.icon:hover {
    color: #FF1493;
}

.image {
width: 100%;
align-self: center;
top: 0px;
}

hr { border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}