body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(236, 208, 245);
    color:#4a3f5f
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden; 
}



header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: morph 10s cubic-bezier(0.32, 0, 0.58, 1) infinite;
}

@keyframes morph {
    0% {
        background: radial-gradient(circle at 10% 0%, rgb(236, 208, 245), rgb(252, 144, 153));
    }
    25% {
        background: radial-gradient(circle at 20% 0%, rgb(255, 156, 247), rgb(187, 245, 255));
    }
    50% {
        background: radial-gradient(circle at 80% 100%, rgb(193, 154, 245), #dc758fff);
    }
    75% {
        background: radial-gradient(circle at 30% 100%, rgb(253, 201, 214), rgb(224, 135, 221));
    }
    100% {
        background: radial-gradient(circle at 20% 0%, rgb(255, 150, 190), rgb(236, 208, 245));
    }
}



.nav {
   
    display: inline;
    margin-left: 10%;
    margin-top: 5%;  
}

.logo {
    width: 13%;
    margin-top: 6%;
    margin-left: 8%;
    transition: transform 0.3s ease;
}
video{ 
    height: auto;
    width: 80vw ;



}
.image-gallery {   
    width: 20%;  
    margin: 2%;
    display: inline-block;
    position: relative;

    
}
figure {
    text-align: center;
    align-items: center;  
    display: inline-block;

}


iframe {
    display: inline-block;
    margin-left: 5%;

    width: 90%;
    height: 300px;
    max-width: 100%;

}


h1 {
    color: #2f143f;
    padding-left: 22%;
    padding-right: 22%;
    text-align: center;
}

h2 {
    color: #2f143f;
    padding-left: 22%;
    padding-right: 22%;
    text-align: center;

}

main div {
   
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2%;
    position: relative;
    width: 27%;
    margin: 1%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s ease;
}



div:hover,
p:hover,
.nav li:hover,
.logo:hover,
button:hover,
hr:hover {
    transform: translateY(-5px);
    /* Slide up 5 pixels on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    /* Add a box shadow for depth */
}




.nav li {
    display: inline-block;
    padding: 5px;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
    transition: transform 0.3s ease;
}

.nav a {
    text-decoration: none;
    color: white;
}

button { 
    height: 40px;
    color: #4a3f5f;
    border-radius: 22px;
    box-shadow: 4px 4px 8px rgba(46, 8, 68, 0.2);
    transition: transform 0.3s ease;
    width: 50%;
    display: inline-block;

}


.social-icons {
    margin-top: 20px;
}

.icon {
    display: inline-block;
    margin-right: 20px;
    height: 5%;
    text-decoration: none; 
}

.icon:hover {
    color: #FF1493;
}

hr {
    border-radius: 2px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgba(68, 8, 124, 0.1);
    transition: transform 0.3s ease;
}


img {
    width: 100%;
}

p {
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
    position: relative;
    transition: transform 2s ease;
    color:#4a3f5f;

}

h3 {
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
    position: relative;
    ;


}
/* Media query for phones (adjust the max-width as needed) */
@media (max-width: 767px) {
    nav {
      display: flex;
      flex-wrap: nowrap; /* Ensures the items stay in one line */
      justify-content: flex-start; /* Align items to the left */
      margin-left: 0;
      margin-top: 0; /* Adjust margin as needed */
    }
    @media screen and (max-width: 768px) {
        div {
            width: 80vw;
            font-size: 12px;
            margin: 2%;
            position: relative;
        }
        
        .container {
            width: 90vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .logo{

            width: 30vw;
            margin-top: 15vw;
        }
    }
    
 
  }
 
  .article {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    transition: height 0.3s ease;
    cursor: pointer;
  }
  .article:hover {
    background-color: #f9f9f9;
  }
  .article h2 {
    margin-top: 0;
  }
  .full-content {
    height: auto;
    overflow: hidden;
  }


  footer {
    background: radial-gradient(circle at 20% 0%, rgb(255, 156, 247), rgb(187, 245, 255));
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
footer ul {

    list-style: none;
}